

.flower {
 width: 330px;
 height: 330px; 
 position: relative;
  } 
  
 .flower > .flower-leaf
   { 
   width: 50%; 
   height: 50%; 
   position: absolute; 
   border-radius: 60%;
 background-color: transparent;
    overflow: hidden;
     top: 0; 
    
     
     } 

.flower > .flower-leaf:after {
     content: ' '; 
     display: inline-block; 
     width: 100%; 
     height: 100%; 
     background-color: #A91079; border-radius: 60%; 
     position: relative; 
     left: 50%; 
     
     } 
     
     .flower > .leaf-1 { 
transform-origin: 0 0; 
   
     }  


   flower > .leaf-1 { transform-origin: 0 0; 
  } 
     
     .flower > .leaf-2 { 
     transform-origin: 75% bottom;
      } 
      
      
      .flower > .leaf-3 { transform-origin: 75% bottom; transform: rotate(144deg);
      
       } 
        